body {
  background-color: black;
  background: url(backgrounds/image.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#elise {
  height: 5vw;
  width: auto;
  position: relative;
}
